@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro&display=swap");
img {
  max-width: 100%;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #1C1E2A;
}

.is-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: block;
  }
}

.mexiwave [data-scroll='in'] .char {
  -webkit-animation: wave 0.25s calc(var(--char-index) * 0.1s) ease;
  animation: wave 0.25s calc(var(--char-index) * 0.1s) ease;
}

@-webkit-keyframes wave {
  50% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@keyframes wave {
  50% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.m0 {
  margin: 0px !important;
}

.m5 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.m25 {
  margin: 25px !important;
}

.m30 {
  margin: 30px !important;
}

.m35 {
  margin: 35px !important;
}

.m40 {
  margin: 40px !important;
}

.m45 {
  margin: 45px !important;
}

.m50 {
  margin: 50px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

@media screen and (min-width: 768px) {
  .mt-pc0 {
    margin-top: 0px !important;
  }
  .mt-pc5 {
    margin-top: 5px !important;
  }
  .mt-pc10 {
    margin-top: 10px !important;
  }
  .mt-pc15 {
    margin-top: 15px !important;
  }
  .mt-pc20 {
    margin-top: 20px !important;
  }
  .mt-pc25 {
    margin-top: 25px !important;
  }
  .mt-pc30 {
    margin-top: 30px !important;
  }
  .mt-pc35 {
    margin-top: 35px !important;
  }
  .mt-pc40 {
    margin-top: 40px !important;
  }
  .mt-pc45 {
    margin-top: 45px !important;
  }
  .mt-pc50 {
    margin-top: 50px !important;
  }
  .mb-pc0 {
    margin-bottom: 0px !important;
  }
  .mb-pc5 {
    margin-bottom: 5px !important;
  }
  .mb-pc10 {
    margin-bottom: 10px !important;
  }
  .mb-pc15 {
    margin-bottom: 15px !important;
  }
  .mb-pc20 {
    margin-bottom: 20px !important;
  }
  .mb-pc25 {
    margin-bottom: 25px !important;
  }
  .mb-pc30 {
    margin-bottom: 30px !important;
  }
  .mb-pc35 {
    margin-bottom: 35px !important;
  }
  .mb-pc40 {
    margin-bottom: 40px !important;
  }
  .mb-pc45 {
    margin-bottom: 45px !important;
  }
  .mb-pc50 {
    margin-bottom: 50px !important;
  }
  .ml-pc0 {
    margin-left: 0px !important;
  }
  .ml-pc5 {
    margin-left: 5px !important;
  }
  .ml-pc10 {
    margin-left: 10px !important;
  }
  .ml-pc15 {
    margin-left: 15px !important;
  }
  .ml-pc20 {
    margin-left: 20px !important;
  }
  .ml-pc25 {
    margin-left: 25px !important;
  }
  .ml-pc30 {
    margin-left: 30px !important;
  }
  .ml-pc35 {
    margin-left: 35px !important;
  }
  .ml-pc40 {
    margin-left: 40px !important;
  }
  .ml-pc45 {
    margin-left: 45px !important;
  }
  .ml-pc50 {
    margin-left: 50px !important;
  }
  .mr-pc0 {
    margin-right: 0px !important;
  }
  .mr-pc5 {
    margin-right: 5px !important;
  }
  .mr-pc10 {
    margin-right: 10px !important;
  }
  .mr-pc15 {
    margin-right: 15px !important;
  }
  .mr-pc20 {
    margin-right: 20px !important;
  }
  .mr-pc25 {
    margin-right: 25px !important;
  }
  .mr-pc30 {
    margin-right: 30px !important;
  }
  .mr-pc35 {
    margin-right: 35px !important;
  }
  .mr-pc40 {
    margin-right: 40px !important;
  }
  .mr-pc45 {
    margin-right: 45px !important;
  }
  .mr-pc50 {
    margin-right: 50px !important;
  }
}

@media screen and (max-width: 767px) {
  .mt-sp0 {
    margin-top: 0px !important;
  }
  .mt-sp5 {
    margin-top: 5px !important;
  }
  .mt-sp10 {
    margin-top: 10px !important;
  }
  .mt-sp15 {
    margin-top: 15px !important;
  }
  .mt-sp20 {
    margin-top: 20px !important;
  }
  .mt-sp25 {
    margin-top: 25px !important;
  }
  .mt-sp30 {
    margin-top: 30px !important;
  }
  .mt-sp35 {
    margin-top: 35px !important;
  }
  .mt-sp40 {
    margin-top: 40px !important;
  }
  .mt-sp45 {
    margin-top: 45px !important;
  }
  .mt-sp50 {
    margin-top: 50px !important;
  }
  .mb-sp0 {
    margin-bottom: 0px !important;
  }
  .mb-sp5 {
    margin-bottom: 5px !important;
  }
  .mb-sp10 {
    margin-bottom: 10px !important;
  }
  .mb-sp15 {
    margin-bottom: 15px !important;
  }
  .mb-sp20 {
    margin-bottom: 20px !important;
  }
  .mb-sp25 {
    margin-bottom: 25px !important;
  }
  .mb-sp30 {
    margin-bottom: 30px !important;
  }
  .mb-sp35 {
    margin-bottom: 35px !important;
  }
  .mb-sp40 {
    margin-bottom: 40px !important;
  }
  .mb-sp45 {
    margin-bottom: 45px !important;
  }
  .mb-sp50 {
    margin-bottom: 50px !important;
  }
  .ml-sp0 {
    margin-left: 0px !important;
  }
  .ml-sp5 {
    margin-left: 5px !important;
  }
  .ml-sp10 {
    margin-left: 10px !important;
  }
  .ml-sp15 {
    margin-left: 15px !important;
  }
  .ml-sp20 {
    margin-left: 20px !important;
  }
  .ml-sp25 {
    margin-left: 25px !important;
  }
  .ml-sp30 {
    margin-left: 30px !important;
  }
  .ml-sp35 {
    margin-left: 35px !important;
  }
  .ml-sp40 {
    margin-left: 40px !important;
  }
  .ml-sp45 {
    margin-left: 45px !important;
  }
  .ml-sp50 {
    margin-left: 50px !important;
  }
  .mr-sp0 {
    margin-right: 0px !important;
  }
  .mr-sp5 {
    margin-right: 5px !important;
  }
  .mr-sp10 {
    margin-right: 10px !important;
  }
  .mr-sp15 {
    margin-right: 15px !important;
  }
  .mr-sp20 {
    margin-right: 20px !important;
  }
  .mr-sp25 {
    margin-right: 25px !important;
  }
  .mr-sp30 {
    margin-right: 30px !important;
  }
  .mr-sp35 {
    margin-right: 35px !important;
  }
  .mr-sp40 {
    margin-right: 40px !important;
  }
  .mr-sp45 {
    margin-right: 45px !important;
  }
  .mr-sp50 {
    margin-right: 50px !important;
  }
}

.p0 {
  padding: 0px !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p30 {
  padding: 30px !important;
}

.p35 {
  padding: 35px !important;
}

.p40 {
  padding: 40px !important;
}

.p45 {
  padding: 45px !important;
}

.p50 {
  padding: 50px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

@media screen and (min-width: 768px) {
  .pt-pc0 {
    padding-top: 0px !important;
  }
  .pt-pc5 {
    padding-top: 5px !important;
  }
  .pt-pc10 {
    padding-top: 10px !important;
  }
  .pt-pc15 {
    padding-top: 15px !important;
  }
  .pt-pc20 {
    padding-top: 20px !important;
  }
  .pt-pc25 {
    padding-top: 25px !important;
  }
  .pt-pc30 {
    padding-top: 30px !important;
  }
  .pt-pc35 {
    padding-top: 35px !important;
  }
  .pt-pc40 {
    padding-top: 40px !important;
  }
  .pt-pc45 {
    padding-top: 45px !important;
  }
  .pt-pc50 {
    padding-top: 50px !important;
  }
  .pb-pc0 {
    padding-bottom: 0px !important;
  }
  .pb-pc5 {
    padding-bottom: 5px !important;
  }
  .pb-pc10 {
    padding-bottom: 10px !important;
  }
  .pb-pc15 {
    padding-bottom: 15px !important;
  }
  .pb-pc20 {
    padding-bottom: 20px !important;
  }
  .pb-pc25 {
    padding-bottom: 25px !important;
  }
  .pb-pc30 {
    padding-bottom: 30px !important;
  }
  .pb-pc35 {
    padding-bottom: 35px !important;
  }
  .pb-pc40 {
    padding-bottom: 40px !important;
  }
  .pb-pc45 {
    padding-bottom: 45px !important;
  }
  .pb-pc50 {
    padding-bottom: 50px !important;
  }
  .pl-pc0 {
    padding-left: 0px !important;
  }
  .pl-pc5 {
    padding-left: 5px !important;
  }
  .pl-pc10 {
    padding-left: 10px !important;
  }
  .pl-pc15 {
    padding-left: 15px !important;
  }
  .pl-pc20 {
    padding-left: 20px !important;
  }
  .pl-pc25 {
    padding-left: 25px !important;
  }
  .pl-pc30 {
    padding-left: 30px !important;
  }
  .pl-pc35 {
    padding-left: 35px !important;
  }
  .pl-pc40 {
    padding-left: 40px !important;
  }
  .pl-pc45 {
    padding-left: 45px !important;
  }
  .pl-pc50 {
    padding-left: 50px !important;
  }
  .pr-pc0 {
    padding-right: 0px !important;
  }
  .pr-pc5 {
    padding-right: 5px !important;
  }
  .pr-pc10 {
    padding-right: 10px !important;
  }
  .pr-pc15 {
    padding-right: 15px !important;
  }
  .pr-pc20 {
    padding-right: 20px !important;
  }
  .pr-pc25 {
    padding-right: 25px !important;
  }
  .pr-pc30 {
    padding-right: 30px !important;
  }
  .pr-pc35 {
    padding-right: 35px !important;
  }
  .pr-pc40 {
    padding-right: 40px !important;
  }
  .pr-pc45 {
    padding-right: 45px !important;
  }
  .pr-pc50 {
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 767px) {
  .pt-sp0 {
    padding-top: 0px !important;
  }
  .pt-sp5 {
    padding-top: 5px !important;
  }
  .pt-sp10 {
    padding-top: 10px !important;
  }
  .pt-sp15 {
    padding-top: 15px !important;
  }
  .pt-sp20 {
    padding-top: 20px !important;
  }
  .pt-sp25 {
    padding-top: 25px !important;
  }
  .pt-sp30 {
    padding-top: 30px !important;
  }
  .pt-sp35 {
    padding-top: 35px !important;
  }
  .pt-sp40 {
    padding-top: 40px !important;
  }
  .pt-sp45 {
    padding-top: 45px !important;
  }
  .pt-sp50 {
    padding-top: 50px !important;
  }
  .pb-sp0 {
    padding-bottom: 0px !important;
  }
  .pb-sp5 {
    padding-bottom: 5px !important;
  }
  .pb-sp10 {
    padding-bottom: 10px !important;
  }
  .pb-sp15 {
    padding-bottom: 15px !important;
  }
  .pb-sp20 {
    padding-bottom: 20px !important;
  }
  .pb-sp25 {
    padding-bottom: 25px !important;
  }
  .pb-sp30 {
    padding-bottom: 30px !important;
  }
  .pb-sp35 {
    padding-bottom: 35px !important;
  }
  .pb-sp40 {
    padding-bottom: 40px !important;
  }
  .pb-sp45 {
    padding-bottom: 45px !important;
  }
  .pb-sp50 {
    padding-bottom: 50px !important;
  }
  .pl-sp0 {
    padding-left: 0px !important;
  }
  .pl-sp5 {
    padding-left: 5px !important;
  }
  .pl-sp10 {
    padding-left: 10px !important;
  }
  .pl-sp15 {
    padding-left: 15px !important;
  }
  .pl-sp20 {
    padding-left: 20px !important;
  }
  .pl-sp25 {
    padding-left: 25px !important;
  }
  .pl-sp30 {
    padding-left: 30px !important;
  }
  .pl-sp35 {
    padding-left: 35px !important;
  }
  .pl-sp40 {
    padding-left: 40px !important;
  }
  .pl-sp45 {
    padding-left: 45px !important;
  }
  .pl-sp50 {
    padding-left: 50px !important;
  }
  .pr-sp0 {
    padding-right: 0px !important;
  }
  .pr-sp5 {
    padding-right: 5px !important;
  }
  .pr-sp10 {
    padding-right: 10px !important;
  }
  .pr-sp15 {
    padding-right: 15px !important;
  }
  .pr-sp20 {
    padding-right: 20px !important;
  }
  .pr-sp25 {
    padding-right: 25px !important;
  }
  .pr-sp30 {
    padding-right: 30px !important;
  }
  .pr-sp35 {
    padding-right: 35px !important;
  }
  .pr-sp40 {
    padding-right: 40px !important;
  }
  .pr-sp45 {
    padding-right: 45px !important;
  }
  .pr-sp50 {
    padding-right: 50px !important;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-rowwrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .d-pc-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-pc-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .flex-pc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-pc-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .flex-pc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-pc-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-pc-rowwrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-pc-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .d-sp-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-sp-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .flex-sp-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-sp-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .flex-sp-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-sp-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-sp-rowwrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-sp-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cnt-in {
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c1e2ae6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrap__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-wrap__menu .item {
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  color: white;
  margin-left: 20px;
  position: relative;
}

.header-wrap__menu .item.active {
  color: #EA33D7;
}

.header-wrap__menu .item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #EA33D7;
}

.header-wrap__menu .item:first-child {
  margin-left: 0;
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
}

.welcome-wrap {
  background-color: #1C1E2A;
  position: relative;
  padding: 150px 0;
}

.welcome-wrap__title {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  line-height: calc(9/7);
  color: white;
  text-align: center;
  text-shadow: 0 0 40px #31C3F3;
}

.welcome-wrap__content {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 14px;
  line-height: calc(24 / 14);
  padding: 70px 0;
  text-align: center;
}

.welcome-wrap .bg_01 {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-wrap .bg_02 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.connect-wrap {
  padding: 150px 0;
  position: relative;
  background-color: #1C1E2A;
}

.connect-wrap__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.connect-wrap__inner ._left {
  width: calc(100% - 400px);
}

.connect-wrap__inner ._right {
  width: 245px;
}

.connect-wrap__inner-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  line-height: calc(9/7);
  color: white;
  text-shadow: 0 0 40px #31C3F3;
}

.connect-wrap__inner-content {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 14px;
  line-height: calc(24 / 14);
  padding-top: 75px;
}

.life-wrap {
  background: url(../images/life_bg.png) no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.life-wrap__title {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  line-height: calc(9/7);
  color: white;
  text-align: center;
  text-shadow: 0 0 40px #31C3F3;
}

.life-wrap__content {
  background-color: #1C1E2A;
  padding: 90px 80px;
  margin-top: 100px;
  border-radius: 20px;
  border: solid 1px #EA33D7;
  -webkit-box-shadow: #EA33D7 2px 2px 10px;
          box-shadow: #EA33D7 2px 2px 10px;
}

.life-wrap__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.life-wrap__content-inner:first-child {
  margin-top: 0;
}

.life-wrap__content-inner .image__inner {
  width: 120px;
}

.life-wrap__content-inner .text__inner {
  width: calc(100% - 165px);
}

.life-wrap__content-inner .text__inner .title {
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
  color: #EA33D7;
  line-height: 1.4;
}

.life-wrap__content-inner .text__inner .content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  padding-top: 20px;
  color: white;
}

.allocation-wrap {
  padding: 170px 0 240px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25294B), to(#1C1A1C));
  background-image: linear-gradient(to bottom, #25294B, #1C1A1C);
  position: relative;
}

.allocation-wrap__title {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  line-height: calc(9/7);
  color: white;
  text-align: center;
  text-shadow: 0 0 40px #31C3F3;
}

.allocation-wrap__title span {
  font-size: 32px;
}

.allocation-wrap__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 120px;
}

.allocation-wrap .bg_01 {
  position: absolute;
  top: 0;
  left: 0;
}

.allocation-wrap .bg_02 {
  position: absolute;
  right: 0;
  bottom: 60px;
}

.roadmap-wrap {
  background: url(../images/life_bg.png) no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.roadmap-wrap__title {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  line-height: calc(9/7);
  color: white;
  text-align: center;
  text-shadow: 0 0 40px #31C3F3;
}

.roadmap-wrap__tab {
  padding-top: 100px;
  width: 100%;
}

.roadmap-wrap__tab .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.roadmap-wrap__tab .tablinks {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  margin: 0 15px;
  color: white;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.roadmap-wrap__tab .tablinks.active {
  color: #EA33D7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.roadmap-wrap__tab .tablinks.active::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #EA33D7;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.roadmap-wrap__tab .tabcontent {
  background-color: #1C1E2A;
  padding: 90px 80px;
  border-radius: 20px;
  border: solid 1px #EA33D7;
  -webkit-box-shadow: #EA33D7 2px 2px 10px;
          box-shadow: #EA33D7 2px 2px 10px;
}

.roadmap-wrap__tab .tabcontent-wrap {
  margin-top: 50px;
}

.roadmap-wrap__tab .tabcontent-wrap:first-child {
  margin-top: 0;
}

.roadmap-wrap__tab .tabcontent-wrap__title {
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
  color: #EA33D7;
  padding-left: 43px;
  position: relative;
  line-height: 1.4;
}

.roadmap-wrap__tab .tabcontent-wrap__title::before {
  content: url(../images/check.png);
  width: 24px;
  height: 24px;
  line-height: 1.4;
  position: absolute;
  top: 44%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.roadmap-wrap__tab .tabcontent-wrap__content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: normal;
  line-height: 1.6;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */